# Ambientes Virtuais
.venv/

# Segurança e Credenciais (MUITO IMPORTANTE)
.env
credentials.json

# Arquivos de cache do Python
__pycache__/
*.pyc
*.py[cod]

# Logs e Temporários
info.txt
*.log

# Extensão de Workspace do VS Code
*.code-workspace

# Pasta de configurações do VS Code (onde ficam chaves, settings locais, etc)
.vscode/
.idea/

